:root {
    --primary: #eb47aa;
    --secondary: #ebf64e;
    --bg: #131313;
    --text: #fff;
}

header {
    width: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: "Livvic Bold", sans-serif;
    width: 100%;
}

.marce-contenedor {
    position: relative;
    display: flex;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ffffff2c;
    margin-bottom: 1.5rem;
}

.marcelo-img {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 2rem;
    box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.25);
}

.logo {
    width: 90px;
    margin-top: 20px;
    justify-self: center;
}

svg {
    flex-shrink: 0;
}

h2 {
    color: #eb47aa;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    font-weight: 600;
}

h3 {
    text-align: center;
    font-size: clamp(1.2rem, 3.5vw, 1.6rem);
    font-weight: 500;
    margin: 10px 0;
}

h4 {
    text-align: center;
    font-size: clamp(1rem, 3vw, 1.4rem);
    padding: 0;
    margin: 10px 0;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary);
    color: var(--bg);
    border: 0;
    border-radius: 5px;
    height: 3rem;
    width: 100%;
    margin: 0;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
}

button:hover {
    /* background: #f92fa8; */
    background: #eeff00;
    cursor: pointer;
    transform: scale(1.05);
}

button:active {
    background-color: #eeff00;
    transform: scale(0.98);
}

li {
    list-style-type: none;
}

.Primera-Seccion {
    background: #131313;
    color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.heroColor {
    color: var(--primary);
    font-size: clamp(2rem, 3.5vw, 3.5rem);
    margin: 0;
    padding: 0;
}

.PromesaCentral {
    font-size: clamp(2rem, 3.5vw, 3.5rem);
    text-align: center;
    margin: 0;
    padding: 0;
}

.FajaDeFiltro {
    font-size: clamp(0.5rem, 3.2vw, 1.5rem);
}

.NombreDelServicio {
    font-weight: 400;
    font-size: clamp(1.2rem, 3.5vw, 1.5rem);
    color: #fff;

    span {
        font-weight: 600;
    }
}

.heroTribekya {
    color: var(--primary);
}

.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 4rem;
    height: calc(100vh - 130px);
}

.flex-article {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 100%;
}

.flex-aside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 40%;
}

.CTA-Video {
    font-size: clamp(1.4rem, 3.5vw, 1.8rem);
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: #ebf64e;
}

.video {
    width: 100%;
}

.flex-li {
    display: flex;
    gap: 10px;
    background: var(--primary);
    color: var(--bg);

    font-weight: 600;
    height: 3rem;
    width: 100%;
    max-width: 380px;
    border-radius: 10px;
    padding-left: 1.2rem;
    align-items: center;

    h4 {
        text-align: left;
        font-size: 1rem;
    }
}

.flex-cliente {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.quizas {
    font-size: 2rem !important ;
    font-weight: 600;
}

.flex-gif {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .gratuita {
        font-size: clamp(2rem, 3.5vw, 2.8rem);
    }
}

.flex-button {
    width: 50%;
}

.flex-pasos {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #000;
    border-radius: 10px;
    height: 5rem;
    width: 30rem;
    padding-left: 1.5rem;

    h3 {
        text-align: left;
    }
}

.flex-ol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.flex-par {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.icon-quien {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

.no {
    background: #ff0000;
    font-weight: 600;
}

.si {
    background: #03d003;
    font-weight: 600;
}

.cupos {
    font-weight: 600;
}

.ProblemasCliente {
    font-size: 25px;
}

.ListaDePilaresDelServicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    padding: 0;
}

.Urgencia-Escasez {
    color: var(--text);
}

.FajaDeFiltro {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    margin: 0;
    padding: 0;
    background: var(--primary);
    color: var(--bg);
    height: 3rem;
}

.Segunda-Seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* min-height: 80vh; */
    height: fit-content;
    background: var(--primary);
    color: var(--bg);
    text-align: center;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    padding: 1rem 2rem;
    background: #13131330;
    border-radius: 10px;
    height: fit-content;

    h3 {
        font-size: clamp(0.8rem, 3vw, 1.4rem);
        text-align: left;
    }
}

.ProblemasDelCliente {
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0;
    font-size: 25px;
    padding: 2rem 0 2rem 0;

    h3 {
        color: var(--text);
        font-size: 25px;
    }
}

.noEsTuCulpa {
    font-size: 55px;
    font-weight: 700;
}

.Tercera-Seccion {
    background: var(--bg);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    min-height: 90vh;
    padding: 2rem 0 2rem 0;

    h2 {
        font-size: clamp(1.5rem, 3.5vw, 3rem);
    }
}

.DeseosDelCliente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 80%;
    min-height: 80vh;
    text-align: center;
    margin-top: 2rem;

    .DeseosFacts {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 2rem;
        gap: 15px;

        div {
            display: flex;
            flex-direction: column;
            text-align: start;
        }
    }
}

.card {
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    border-radius: 10px;
    background: #00000099;
    width: 12rem;
    height: 18rem;
}

.icon-radius {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid #fff;
    padding: 0.5rem;
}

.Cuarta-Seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 2rem 0 2rem 0;
    background: var(--primary);
    color: var(--bg);
    text-align: center;
}

.DescripciónDeAsesoríaGratuita {
    width: 80%;
    height: fit-content;
    display: flex;
    gap: 1.5rem;
    padding: 2rem 0 2rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 1.7rem;
        width: 100%;
        color: var(--bg);
    }
}

.Quinta-Seccion {
    background: var(--bg);
    width: 100%;
    height: fit-content;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    color: var(--text);
    padding: 2rem 0 2rem 0;
}

.EtapasDelMétodo {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0 2rem 0;

    h2 {
        width: 80%;
    }
}

.steps {
    width: 50%;
    min-width: 500px;
    padding-right: 1rem;
    /* aspect-ratio: 1; */
}

.steps-icon {
}

.Sexta-Seccion {
    background: var(--primary);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    color: var(--bg);
    padding: 2rem 0 2rem 0;
}

.ParaQuienEs {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0 2rem 0;

    h2 {
        color: var(--bg);
    }
}

.ParaQuienEsContenedor {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(232, 232, 232, 0.084);
    border-radius: 1rem;
    padding: 1rem;
}

.section-quien-icon {
    height: fit-content;
    margin: 0;
    padding: 0;
}

.Septima-Seccion {
    background: var(--bg);
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    color: var(--text);
}

.PorQuéOfrezcoAsesoríaGratis {
    width: 80%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.Octava-Seccion {
    background: var(--primary);
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    color: var(--bg);
}

.PresentaciónQuienSoy {
    padding: 2rem;
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        color: var(--bg);
    }
}

.Novena-Seccion {
    background: var(--bg);
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    color: var(--text);
}

.TenésDosOpciones {
    padding: 4rem 0 4rem 0;
    height: fit-content;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.DosOpcionesContenedor {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: rgba(232, 232, 232, 0.084);
    border-radius: 1rem;
    padding: 1rem;

    h3 {
        text-align: left;
    }
}

.opcion {
    font-weight: 900;
    font-size: 1.5rem;
}

.opcion-text {
    font-weight: 200;
}

.Decima-Seccion {
    background: var(--primary);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--bg);
}

.SaludoFinal {
    padding: 2rem;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 80%;

    h2 {
        color: var(--bg);
        /* font-size: ; */
    }
}

iframe {
    width: 100%;
    height: 350px;
    border-radius: 10px;
    margin-top: 1rem;
}

@media (max-width: 800px) {
    .hero {
        height: fit-content;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .logo {
        margin: 30px 0 15px 0;
    }

    .steps {
        min-width: 280px;
        width: 90%;
    }

    .buttonContainer {
        width: 90%;
    }

    .flex-aside {
        margin: 1rem;
        padding: 0;
        justify-content: start;
        height: fit-content;
        gap: 1.5rem;
        width: 100%;
    }

    .flex-li {
        width: 90%;
    }

    .NombreDelServicio {
        text-align: center;
    }

    .flex-article {
        justify-content: flex-start;
        gap: 2rem;
        margin: 1rem;
        padding: 0;
        height: fit-content;
        width: 100%;
    }

    .PromesaCentral {
        margin: 0rem;
    }

    .flex-ol {
        margin: 0;
        padding: 0;
    }

    .flex-pasos {
        width: 90%;
        height: 4rem;
    }

    .contenedor {
        /* height: 12rem; */
        flex-direction: column;
        padding: 2rem 1rem;
        margin-top: 1rem;
        gap: 2rem;
    }

    .card {
        height: 14rem;
    }

    iframe {
        width: 350px;
        height: 300px;
    }

    .ProblemasDelCliente {
        margin: 1rem 0;
    }

    .ParaQuienEs {
        height: 70vh;
        justify-content: space-evenly;
    }

    .Tercera-Seccion {
        min-height: fit-content;
    }

    .DeseosDelCliente {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        width: 80%;
        min-height: fit-content;
        text-align: center;
        margin-top: 2rem;

        .DeseosFacts {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            height: fit-content;
            gap: 15px;

            div {
                display: flex;
                flex-direction: row;
                text-align: start;
            }
        }
    }

    .card {
        display: flex;
        align-items: center;
        padding: 1rem;
        gap: 1rem;
        border-radius: 10px;
        background: #00000099;
        width: 90%;
        height: fit-content;

        h3 {
            text-align: left;
            margin: 0;
        }
    }

    .ParaQuienEsContenedor {
        width: 100%;
        padding: 1.5rem 1rem 1.5rem 1rem;
    }

    .section-quien-icon {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: fit-content;
    }

    .section-quien-text {
        display: flex;
        flex-direction: column;
        height: 7rem;
        margin: 0;
        padding: 0;
    }

    .icon-quien {
        height: 1rem;
    }

    .ul-quien {
        display: flex;
        flex-direction: column;
        height: 10rem;
    }

    .li-quien {
        height: 4rem;
    }

    .PorQuéOfrezcoAsesoríaGratis {
        height: 70vh;

        h2 {
            font-size: 1.7rem;
        }
    }

    /* .PresentaciónQuienSoy {
        height: 75vh;
    } */

    .TenésDosOpciones {
        height: fit-content;
        margin: 1rem 0;
    }

    .DosOpcionesContenedor {
        width: 100%;
        padding: 1.5rem 1rem 1.5rem 1rem;
    }

    .flex-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        button {
            width: 12rem;
        }
    }

    .SaludoFinal {
        h2 {
            font-size: 1.7rem;
        }
    }
}
